.root {
  padding-top: 64px;
  display: flex;
  width: 100%;
  height: 100%;

  @media (min-width: 900px) {
    padding-bottom: 32px;
  }
}

.image_container {
  display: none;
  width: 400px;
  align-items: center;

  @media (min-width: 900px) {
    margin-right: 40px;
    /* stylelint-disable-next-line */
    display: flex !important;
  }
}

.image {
  width: 100%;
  border-radius: 10px;
}

.info {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  @media (min-width: 900px) {
    padding: 24px;
  }
}

.title {
  margin-bottom: 12px;
  text-align: center;
}

.author {
  margin-bottom: 32px;
}

.points {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.list_item {
  margin: 8px 0;
  display: flex;
  align-items: center;

  &::before {
    margin-right: 8px;
    width: 7px;
    height: 7px;
    content: '';
    border-radius: 50%;
  }

  &_red::before {
    background-color: red;
  }

  &_orange::before {
    background-color: #faa73d;
  }

  &_black::before {
    background-color: black;
  }

  &_yellow::before {
    background-color: yellow;
  }

  &_green::before {
    background-color: green;
  }

  &_purple::before {
    background-color: purple;
  }

  &_blue::before {
    background-color: #6093d5;
  }

  &_grey::before {
    background-color: #c6cacd;
  }

  &_mustard::before {
    background-color: #a48d59;
  }
}

.link {
  margin-top: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border 0.5s;
}

.link:hover {
  border-color: purple;
}

.link_text {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 12px;
}

.logo_container {
  margin-bottom: 12px;
  width: 100px;
}

.logo {
  width: 100%;
}