.root {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (min-width: 900px) {
    width: auto;
  }
}

.icon {
  margin: 24px;
  width: 24px;
  color: #9448bc;

  @media (min-width: 900px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
