@import '../../../styles/variables.css';

.logo {
  margin-left: 0;
  display: none;

  @media (min-width: 900px) {
    display: block;
  }
}

.bio_container {
  padding: 0 24px;

  @media (min-width: 900px) {
    padding: 0;
  }
}

.bio_link {
  text-decoration: underline;
  color: #292961;
}

.latest_article {
  margin-bottom: 32px;
  padding: 0 24px;

  @media (min-width: 900px) {
    padding: 0;
  }
}

.latest_article_title {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
}

.articles_container {
  padding: 32px 24px;
  align-items: stretch;

  @media (min-width: 900px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.show_articles_link {
  padding-left: 16px;
  display: flex;
  width: 100%;
  align-items: center;

  @media (min-width: 900px) {
    padding-left: 0;
  }
}

.projects_background {
  max-width: 100%;
  background: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
}

.projects_container {
  padding: 0 16px;

  @media (min-width: 900px) {
    padding: 80px 0;
  }
}

.projects_title {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
}

.books_title {
  width: 100%;
}

.books_container {
  position: relative;
  margin-top: 60px;
  width: 80%;

  @media (min-width: 900px) {
    width: 100%;
  }
}

.slider_container {
  max-width: 100%;
}

.next_arrow {
  position: absolute;
  right: -200px;
  /* stylelint-disable-next-line */
  display: none !important;
  cursor: pointer;

  @media (min-width: 900px) {
    /* stylelint-disable-next-line */
    display: block !important;
  }
}

.prev_arrow {
  position: absolute;
  left: -200px;
  /* stylelint-disable-next-line */
  display: none !important;
  cursor: pointer;

  @media (min-width: 900px) {
    /* stylelint-disable-next-line */
    display: block !important;
  }
}

.newsletter_divider {
  margin-top: 88px;
  margin-bottom: 48px;
}

.newsletter_container {
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 64px;

  @media (min-width: 900px) {
    padding-right: 0;
    padding-left: 0;
  }
}
