.container {
  pre {
    margin-bottom: 24px;
  }

  img {
    margin-bottom: 16px;
    max-width: 100%;
  }

  h1 {
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 900;
    color: inherit;
    text-rendering: optimizeLegibility;
  }

  h2 {
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 1.73286rem;
    line-height: 1.1;
    font-weight: 900;
    color: inherit;
    text-rendering: optimizeLegibility;
  }

  h3 {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 1.4427rem;
    line-height: 1.1;
    font-weight: 900;
    color: inherit;
    text-rendering: optimizeLegibility;
  }

  h5 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: .83255rem;
    line-height: 1.1;
    font-weight: 900;
    color: inherit;
    text-rendering: optimizeLegibility;
  }

  h6 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: .75966rem;
    line-height: 1.1;
    font-weight: 900;
    font-style: italic;
    color: inherit;
    text-rendering: optimizeLegibility;
  }

  ol {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 1.75rem;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style-position: outside;
    list-style-image: none;
  }

  ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: 1.75rem;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style: disc;
    list-style-position: outside;
    list-style-image: none;
  }

  p {
    margin: 24px 0;
    font-size: 21px;
    line-height: 32px;
    text-align: justify;
    overflow-wrap: break-word;
  }

  blockquote {
    margin-top: 0;
    margin-right: 1.75rem;
    margin-bottom: 1.75rem;
    margin-left: -1.75rem;
    padding-top: 0;
    padding-right: 0;
    padding-left: 1.42188rem;
    padding-bottom: 0;
    font-size: 1.20112rem;
    line-height: 1.75rem;
    font-style: italic;
    color: hsla(0, 0%, 0%, .59);
    border-left: .32813rem solid hsla(0, 0%, 0%, .9);
  }

  a {
    text-decoration: none;
    color: #007acc;
    box-shadow: 0 1px 0 0 currentColor;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }
}

.image {
  margin-bottom: 24px;
  width: 100%;
  border-radius: 5px;
}
