.slider_container {
  max-width: 100%;
}

.next_arrow {
  position: absolute;
  right: -200px;
  /* stylelint-disable-next-line */
  display: none !important;
  cursor: pointer;

  @media (min-width: 900px) {
    /* stylelint-disable-next-line */
    display: block !important;
  }
}

.prev_arrow {
  position: absolute;
  left: -200px;
  /* stylelint-disable-next-line */
  display: none !important;
  cursor: pointer;

  @media (min-width: 900px) {
    /* stylelint-disable-next-line */
    display: block !important;
  }
}
