.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.metrics_value {
  margin-top: 2px;
  margin-left: 4px;
  line-height: 16px;
}

.metric {
  margin-top: 8px;
  display: flex;
  width: 42px;
  justify-content: space-between;
  align-items: center;
}

.likes {
  transition: all 1s;
  will-change: scale;
  cursor: pointer;
}

.liked {
  transform: scale(1.2);
}