.root {
  position: absolute;
  z-index: -100000;
  top: -250px;
  left: 0;
  margin-top: 124px;
  width: 100%;
  height: 750px;
  background: linear-gradient(#507eb1, #709dc7 10%, #dde9f5 38%, #eaf2f9 48%, #f6f9fc 62%);
  transform: skewY(-5deg);

  @media (min-width: 900px) {
    /* margin-bottom: 800px; */
  }
}
