.root {
  z-index: 100;
  margin: 24px 0;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .3) 0 .725rem 1.45rem -.3625rem;
  transition: all .5s;
  will-change: contents;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.content {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin-bottom: 16px;
}

.arrow {
  position: absolute;
  right: 4%;
}

.left_side_color {
  width: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px 0 0 5px;
}
