.posts_container {
  padding: 32px 24px;
  align-items: stretch;

  @media (min-width: 900px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.show_post_link {
  padding-left: 16px;
  display: flex;
  width: 100%;
  align-items: center;

  @media (min-width: 900px) {
    padding-left: 0;
  }
}
