// @import '../../../styles/variables.css';

.fullWidth {
  width: 100%;
}

.whiteSpace {
  &_noWrap {
    white-space: nowrap;
  }

  &_preWrap {
    white-space: pre-wrap;
  }
}

.isUppercase {
  text-transform: uppercase;
}

.align {
  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &_justify {
    text-align: justify;
  }
}

.color {
  &_white {
    color: white;
  }

  &_black {
    color: #000000cc;
  }

  &_main {
    color: var(--primary-color);
  }

  &_blue {
    color: #292961;
  }
}

.display {
  &_block {
    display: block;
  }

  &_inlineBlock {
    display: inline-block;
  }

  &_inline {
    display: inline;
  }
}

.fontFamily {
  &_roboto {
    font-family: var(--font-montserrat);
  }
}

.weight {
  &_200 {
    font-weight: 200;
  }

  &_300 {
    font-weight: 300;
  }

  &_400 {
    font-weight: 400;
  }

  &_500 {
    font-weight: 500;
  }

  &_600 {
    font-weight: 600;
  }

  &_700 {
    font-weight: 700;
  }

  &_800 {
    font-weight: 800;
  }
}

.mod {
  &_h1 {
    font-size: 36px;
    line-height: 40px;
  }

  &_h2 {
    font-size: 30px;
    line-height: 36px;
  }

  &_h3 {
    font-size: 24px;
    line-height: 28px;
  }

  &_h4 {
    font-size: 16px;
    line-height: 24px;
  }

  &_p {
    font-size: 14px;
    line-height: 20px;
  }
}

.margin {
  &_normal {
    margin-bottom: 16px;
  }

  &_dense {
    margin-bottom: 8px;
  }
}
